@import '../variables.styl'

* {
  margin: 0;
  padding: 0;
}
* {
  font-family: Arial, sans-serif;
}
img {
  max-width: 100%;
}
.collapse {
  margin: 0;
  padding: 0;
}
body {
  -webkit-font-smoothing: antialiased;
  -webkit-text-size-adjust: none;
  width: 100% !important;
  height: 100%;
}
a {
  color: #000;
  font-weight: bold;
}
.btn {
  text-decoration: none;
  color: #fff;
  background-color: #666;
  padding: 10px 16px;
  font-weight: bold;
  margin-right: 10px;
  text-align: center;
  cursor: pointer;
  display: inline-block;
}

table.head-wrap {
  width: 100%;
  margin-bottom: 70px;
}

table.body-wrap {
  width: 100%;
}
table.footer-wrap {
  width: 100%;
  clear: both !important;
}


.text-bold {
  font-weight: 700;
}
.text-secondary,
.secondary {
  color: #a39c9c;
}
.price {
  font-size: 120%;
  line-height: 0.75;
}
.negative {
  color: #f34046;
}
.text-right {
  text-align: right;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: Arial, sans-serif;
  line-height: 1.1;
  margin-bottom: 12px;
  color: #242424;
}
h1 small,
h2 small,
h3 small,
h4 small,
h5 small,
h6 small {
  font-size: 60%;
  color: #6f6f6f;
  line-height: 0;
  text-transform: none;
}
h1 {
  font-weight: 700;
  font-size: 41px;
}
h1.compact {
  font-size: 32px;
  letter-spacing: -0.5px;
}
h2 {
  font-weight: 200;
  font-size: 35px;
}
h3 {
  font-weight: 500;
  font-size: 27px;
}
h4 {
  font-weight: 500;
  font-size: 23px;
}
h5 {
  font-size: 17px;
  font-weight: 300;
  letter-spacing: 1px;
  color: #a39c9c;
  text-transform: uppercase;
}
h6 {
  font-size: 18px;
  line-height: 1.6;
  text-transform: none;
  font-weight: 700;
  margin-bottom: 0;
  color: #444;
}
.collapse {
  margin: 0 !important;
}
p,
ul {
  margin-bottom: 10px;
  font-weight: normal;
  font-size: 16px;
  line-height: 1.75;
}
p.lead {
  font-size: 18px;
}
p.last {
  margin-bottom: 0px;
}
ul li {
  margin-left: 5px;
  list-style-position: inside;
}

.block {
  display: block;
}
.right {
  float: right;
}
.left {
  float: left;
}
.collapse-padding {
  padding: 0 !important;
}
table.collapse {
  border-collapse: collapse;
}

.l-island {
  margin-bottom: 30px;
}
.l-island-lg {
  margin-bottom: 56px;
}