@import '../variables.styl'

.container {
  display: block !important;
  max-width: 720px !important;
  margin: 0 auto !important; /* makes it centered */
  clear: both !important;
  padding: 0 10px;
}
.content {
  padding: 15px 0;
  max-width: 720px;
  margin: 0 auto;
  display: block;
}
.content table {
  width: 100%;
  border-collapse: collapse;
}
.column, .one-in-two {
  width: 360px;
  float: left;
}
.column tr td {
  padding: 15px;
}
.column-wrap {
  padding: 0 !important;
  margin: 0 auto;
  max-width: 720px !important;
}
.column table {
  width: 100%;
}
.clear {
  display: block;
  clear: both;
}

.one-in-three {
  float: left
  width: 240px
}

.two-in-three {
  float: left
  width: 480px
}