@import '../variables.styl'

.text-small {
  font-size: 12px;
  line-height: 20px;
}
.text-xs {
  font-size: 10px;
}
.text-medium {
  font-size: 14px;
  line-height: 20px;
}

.hero-header {
  font-size: 50px;
  font-weight: bold;
  margin-bottom: 20px;
  display: block;
}
.supersized {
  font-size: 36px;
  display: block;
  letter-spacing: 2px;
}

.text-center {
  text-align: center
}

.lead
  font-size: 18px
  line-height: 1.4