+container().footer-info
    .column-wrap
        .column
            .column
                p
                    | mysite.com
                    br
                    | Address line 1
                    br
                    | Address line 2
                    br
                    | 12-345 Poland
            .column
                p
                    strong Open
                    br
                    | Mo–Fr 8–18
                    br
                    | Sar 10–14
                    br
                    | 0800 123 123
                    br
                    a(href='mailto:hello@example.com') hello@example.com
            .clear
        .column
            .column
                p
                    a(href='#') About us
                    br
                    a(href='#') Jobs
                    br
                    a(href='#') Press
                    br
                    a(href='#') Contact
            .column
                p
                    a(href='#') Link
                    br
                    a(href='#') Link
                    br
                    a(href='#') Link
            .clear
        .clear
