doctype transitional
include ../shared/mixins
html
    head
        // If you delete this meta tag, the ground will open and swallow you.
        meta(name='viewport', content='width=device-width')

        block meta
            meta(http-equiv='Content-Type', content='text/html; charset=UTF-8')

        block css
            link(rel='stylesheet', type='text/css', href='common.css')
            link(rel='stylesheet', type='text/css', href='responsive.css', data-embed='true')
        block title
            title

    body(bgcolor='#FFF', topmargin='0', leftmargin='0', marginheight='0', marginwidth='0', yahoo='fix')
        // header
        block before_header
        block header
            include ../shared/header
        block after_header


        // content
        block before_content
        block content
        block after_content

        // footer
        block before_footer
        block footer
            include ../shared/footer
        block after_footer